h1 { text-align:center; color:#000099; }
a { color:blue; text-decoration:none; }
a:hover { color:red; }/* li { margin-left:2em; } */
.box { position:reltive; width:600px; height:480px; 
       font-family:arial; text-align:left; 
       box-shadow: 1px 1px 8px #808080;
       border:1px solid #808080; 
       overflow: auto;
    }
